* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Essa classe mantém meu header responsivo de acordo com o card*/

.container-fluid {
    display: flex;
    align-items: center;
    width: 78vw;
    justify-content: space-between;
}


/* card quadrado principal */

.card {
    background: #b40d0d;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: none;
    width: 78vw;
    height: 80vh;
}


/* Manipulação dentro da div 'card' */

.row {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: blue
}

.col {
    text-align: center
}


/* Manipulação dos cards */

.col .card-img {
    display: flex;
    justify-content: center;
    height: 20%;
    border-radius: 40px;
    cursor: pointer;
    width: 90%;
    text-align: center;
}


/* Manipulação dentro da div 'card' */

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.back {
    min-width: 55px;
    max-width: 25px;
}

.logo {
    min-width: 100px;
    max-width: 250px;
}

.descricao {
    display: grid;
    align-items: center;
}

.card .form-control {
    margin-left: 80px;
    margin-bottom: 50px;
    width: 50vw;
    max-height: 1350px;
    border-radius: 0px;
    border: none;
    background: fuchsia;
}

.form-control1 {
    margin-top: 80px;
    margin-left: 80px;
    width: 50vw;
    border: none;
    height: 50vh;
    background: rgb(126, 213, 38);
}

.img {
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin-right: 50px;


}

.btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;

    margin-top: 10px;
    height: 40px;
    margin-left: 55vw;
}

@media(max-width : 1225px) {
    body {
        background: black;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

   

    button {
        background: forestgreen;

    }

    .card .form-control1 {
        margin-left: 80px;
        width: 40vw;
        border: none;
        height: 50vh;
        background: rgb(126, 213, 38);

    }

    .card .form-control {
        margin-bottom: -100px;
        margin-left: 80px;
        width: 40vw;

        border-radius: 0px;
        border: none;
        background: fuchsia;
    }

    .btn {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 120px;
        display: flex;
        margin-top: 10px;
        height: 40px;
        margin-left: 80px
    }

    div .img{
        background: darkcyan;
        display: grid;
        justify-content: center;
        align-items: center;
    }


}