* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Essa classe mantém meu header responsivo de acordo com o card*/

.container-fluid {
    display: flex;
    align-items: center;
    width: 78vw;
    justify-content: space-between;
}


/* card quadrado principal */

.card {
    background: #b40d0d;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    border: none;
    width: 78vw;
    height: 80vh;
}


/* Manipulação dentro da div 'card' */

.row {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: blue
}

.col {
    text-align: center
}


/* Manipulação dos cards */

.col .card-img {
    display: flex;
    justify-content: center;
    height: 20%;
    border-radius: 40px;
    cursor: pointer;
    width: 90%;
    text-align: center;
}


/* Manipulação dentro da div 'card' */

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.back {
    min-width: 55px;
    max-width: 25px;
}

.logo {
    min-width: 100px;
    max-width: 250px;
}

.descricao {
    display: grid;
    align-items: center;
}

.card .form-control {
    margin-left: 40px;
    width: 50vw;
    max-height: 1350px;
    border-radius: 0px;
    border: none;
    background: fuchsia;
}

.form-control1 {
    margin-top: 80px;
    margin-left: 40px;
    width: 50vw;
    border: none;
    height: 50vh;
    background: rgb(126, 213, 38);
}

.img {
    
    justify-content: center;
    align-items: center;
    width: 50px;


}

.btn {
    width: 120px;
    display: flex;
    margin-top: 10px;
    height: 40px;
    margin-left: 55vw;
}