@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arsenal', sans-serif;
}

header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a img:first-child {
    width: 450px;
    height: 130px;
}



main {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Arsenal', sans-serif;
    background: #f5f5f5;
    margin-bottom: 80px;
}

.container {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 50px auto;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 400;
    margin-left: 20px;


}

.titleComentario {
   width: 63vw;
}





p {
    margin-left: 40px;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;

}

.caixaTexto {
    position: relative;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    height: 10vh;
    font-weight: 400;
    width: 100%;
    outline: none;
    border: 1px solid rgb(209, 206, 206);
}

.comentario {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

}

.title {
    margin: 20px 0;
    width: 100%;
}

.desc {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    box-shadow: 0px 10px 14px rgba(180, 27, 27, 0.25);
}

.darkMode {
    background: #181515 !important;
    color: var(--branco) !important;
}

.darkModeCard {
    color: rgb(255, 255, 255);
    background: #2f352f;
    box-shadow: rgba(61, 34, 97, 0.829) 0px 54px 55px, rgb(42, 71, 235) 0px -12px 30px, rgb(45, 28, 196) 0px 4px 6px, rgb(61, 60, 59) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 5px !important;
}

.button-search {
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: end;
    margin: 2rem;
}

button {
    border: none;
    font-size: 35px;
    width: 150px;
    height: 50px;
    color: white;
    background: #fa3200;
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 8px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: rgb(201, 32, 2);
    animation: forwards;
}

@media (max-width: 400px) {
    main {
        flex-direction: column;
    }

    .container {
        width: 300px;
        padding-bottom: 240px;
    }

    a img {
        width: 60px;
        justify-content: space-between;
        align-items: center;
        margin: 1px 3px;
    }
}