@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header a img:first-child {
    width: 10%;
    width: 450px;
    height: 130px
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0
}

main {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80vh
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: px;
}

.col {
    background: rgb(197, 196, 196);
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
}

button {
    display: flex;
    align-items: center;
    margin: 3%;
    border: none;
    font-size: 100%;
    padding: 10px;
    cursor: pointer;
    height: 4vh;
    color: white;
    background: #1FDA6A;
    font-family: 'Arsenal', sans-serif;
    letter-spacing: 5px;
    border-radius: 4px;
}

button:hover {
    background: #fbff1c8c;

}
